@media screen and (max-height : 995px) and (max-width : 1920px){
	
html{
	margin:0px;
	padding:0px;
	border:0px;
	
}
body{
	margin:0px;
	padding:0px;
	border:0px;
}
#game_container{
	margin: 0 auto;
	width:960px;
	height:995px;
	border-left: solid 1px;
	border-right: solid 1px;
background-color: gold;
	
}
#game{
	
	margin:auto;
	width:65%;
	border-radius: 30px;
	border:solid 2px black;
	z-index:50;
	background-color: silver;
	
	
	
}
#count_down{
	
	/*display:none;
	 
	 */
	visibility:hidden;
	height:100px;
	width:100px;
	font-family:Impact;
	font-size:100px;
	margin:0 auto;
	color:white;
	text-shadow: 5px 5px 5px black;
	position:relative;
	
}
#start_game{
	position:absolute;
	
}
#hud{
	height:20%;
	font-family:Futura, Rockwell;
}
.circle{
	
	border-radius:100px;
	border:solid 1px black;
	height:100px;
	width:100px;
	display:inline-block;
	margin: 10px;
	box-shadow:-3px 3px 5px black;
	z-index:100;
}

.timer{
	
	
		width:10%;
	position: relative;
	float:right;
	top:80%;
	height:20%;
	font-family:Futura, Rockwell
	
	
}

.energy{
	height:5%;
	border:solid 2px;
	width:35%;
	margin: auto 33%;
	background-color:grey;
}


#energy_layer_1{
	
	height:100%;
	background-color:red;
	background:linear-gradient(45deg ,red, white );
	
}

#energy_layer_2{
	
	height:100%;
	background-color:yellow;
	background:linear-gradient(45deg ,gold,yellow );
}
#energy_layer_3{
	
	height:100%;
	background-color:green;

	background:linear-gradient(45deg ,green,lightgreen);
	
}


[data-circle='good']{

    background-color:green;
}  
[data-circle='bad'] {
 background-color:red;
}
[data-circle='null']{
 

    background-color:white;
}
}